.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
README.md
RESULTS/.DS_Store
RESULTS/.DS_Store
RESULTS/LD_results/LD_r50_LOCI_FOR_REMOVAL
RESULTS/LD_results/LD_r50_LOCI_FOR_REMOVAL.zip
RESULTS/LD_results/LD_r70_LOCI_FOR_REMOVAL
RESULTS/LD_results/LD_r75_filtered_data
RESULTS/LD_results/LD_r75_another_method
